@font-face {
    font-family: 'Cera Bold';
    src: url('/fonts/Cera-Pro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cera';
    src: url('/fonts/Cera-Pro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
